.quick-card-editor-card {
  width: 256px;
  .list-card-quick-edit {
    z-index: 1;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    // cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
  }
  .list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    color: #fff;
  }
  .list-card-edit-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #172b4d;
    user-select: none;
    cursor: pointer;
  }
  .list-card-labels {
    z-index: 0;
    overflow: auto;
    position: relative;
  }
  .mod-card-front {
    float: left;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 100px;
    margin: 0 4px 4px 0;
    max-width: 40px;
    min-width: 40px;
    padding: 0;
    text-shadow: none;
    width: auto;
    background-color: #61bd4f;
    border-radius: 4px;
    color: #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .list-card-edit-title {
    font-family: inherit;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 90px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: none;
    width: 100%;
    padding: 0;
    margin: -1px;
    color: #172b4d;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    &:focus {
      background-color: #fff;
      border: 1px solid transparent;
      box-shadow: none;
      outline: none;
    }
  }
  .list-card-edit-title::-moz-selection {
    background-color: #3189bd;
    text-shadow: none;
  }
  .list-card-edit-title::selection {
    background-color: #3189bd;
    text-shadow: none;
  }
  .badges {
    float: left;
    max-width: 100%;
    margin-left: -2px;
  }

  .due-date-badge {
    color: #5e6c84;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 20px;
    overflow: hidden;
    position: relative;
    padding: 2px;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  .js-save-edits-btn {
    background-color: #5aac44 !important;
    box-shadow: none !important;
    border: none !important;
    color: #fff !important;
    font-weight: 300 !important;
  }
  .quick-card-editor-buttons {
    opacity: 1;
    transform: translateX(0);
    left: 100%;
    // opacity: 0;
    position: absolute;
    top: 0;
    width: 240px;
    z-index: 0;
    // transform: translateX(-20px);
    transition: opacity 85ms ease-in, transform 85ms ease-in;
  }
  .edit-card-btn {
    background: rgba(0, 0, 0, 0.6) !important;
    border-radius: 3px !important;
    clear: both !important;
    color: #e6e6e6 !important;
    display: block !important;
    float: left !important;
    margin: 0 0 4px 8px !important;
    padding: 6px 12px 6px 8px !important;
    text-decoration: none !important;
    transition: transform 85ms ease-in !important;
    &:hover {
      background: rgba(0, 0, 0, 0.8) !important;
      color: #fff !important;
      transform: translateX(5px) !important;
    }
  }
}

.pop-over-label {
  background: #fff;
  border-radius: 3px;
  // box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
  // 0 0 0 1px rgba(9, 30, 66, 0.08);
  // display: none;
  overflow: hidden;
  // position: absolute;
  right: -9999px;
  top: -9999px;
  width: 304px;
  z-index: 70;
  .pop-over-header {
    height: 40px;
    position: relative;
    margin-bottom: 8px;
    text-align: center;
  }
  .pop-over-header-title {
    color: #5e6c84;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    margin: 0 12px;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
  }
  .pop-over-header-close {
    user-select: none;
    cursor: pointer;
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    width: 20px;
  }
  .pop-over-content {
    // max-height: 278px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 12px 12px;
  }
  .label-form {
    display: flex !important;
    justify-content: space-between !important;
    .input {
      width: 80% !important;
    }
    .button {
      width: 15% !important;
    }
  }

  .pop-over-section {
    margin-top: 12px;
    h4 {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 16px;
      margin-top: 16px;
      text-transform: uppercase;
      margin: 0 0 8px;
    }
    .edit-labels-pop-over {
      margin-bottom: 8px;
      li {
        padding-right: 36px;
        position: relative;
      }
      .edit-label-pop-close {
        user-select: none;
        cursor: pointer;
        border-radius: 3px;
        padding: 6px;
        position: absolute;
        top: 0;
        right: 0;
        color: #42526e;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;
      }
      .card-label {
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 20px;
        padding: 6px 12px;
        position: relative;
        transition: padding 85ms, margin 85ms, box-shadow 85ms;
        color: #fff;
        display: block;
        max-width: 100%;
        overflow: hidden;
      }
    }
  }
  .due-date-form {
    padding-top: 16px;
    overflow: visible;
    .due-date-input-div {
      display: flex;
      justify-content: center;
    }
    .due-date-input-controls {
      padding-top: 16px;
      .submit-btn,
      .remove-btn {
        box-shadow: none !important;
        border: none !important;
        color: #fff !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
        cursor: pointer !important;
        display: inline-block !important;
        font-weight: 400 !important;
        line-height: 20px !important;
        margin: 8px 4px 0 0 !important;
        padding: 6px 12px !important;
        text-align: center !important;
        border-radius: 3px !important;
      }
      .submit-btn {
        background-color: #5aac44 !important;
      }
      .remove-btn {
        background-color: #cf513d !important;
        float: right !important;
        margin-right: 0 !important;
        margin-top: 8px !important;
        margin-bottom: 8px !important;
      }
    }
  }
}
