.form-container {
  background-color: transparent;

  min-height: 100vh;
  position: relative;
  .form-complete-div {
    width: 100%;
    padding: 0px;
    overflow: visible;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
  }
  .form-container-outer-div {
    width: 480px;
    .form-container-inner-div {
      // padding: 25px 40px;
      background-color: #ffffff;
      border-radius: 3px;
      padding: 25px 40px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    }
    h2 {
      text-align: center;
      text-align: center;
      color: #5e6c84;
      font-size: 16px;
      letter-spacing: -0.01em;
      line-height: 28px;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
  .trello-main-logo {
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    //   vertical-align: middle;
  }
  form {
    z-index: 100;
  }
  .form-extra-links,
  .form-extra-links-single {
    display: grid;
    // padding: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    .form-link {
      font-size: 14px;
      text-decoration: none;
      color: #0052cc;
      text-align: center;
    }
    a {
      // align-self: center;
      justify-self: center;
    }
    .remove-design-btn {
      background-color: transparent;
      font-size: 14px;
      font-weight: 400;
      // color: #2e394f;
      &:active {
        background-color: transparent;
      }
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
      &:visited {
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
    }
  }
  .form-extra-links-single {
    grid-template-columns: 1fr;
    .form-link {
      font-weight: 400;
    }
  }
  .background {
    z-index: -900;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #f9fafc;

    .leftLarge {
      position: absolute;
      width: 400px;
      bottom: 0;
      left: 0;
      z-index: -999;
      max-width: 30%;
    }
    .rightLarge {
      position: absolute;
      width: 400px;
      bottom: 0;
      right: 0;
      z-index: -999;
      max-width: 30%;
    }
  }
}
